// colors
$dark: #353535;
$black: #000;
$white: #ffffff;
$purple: #6a4dff;
$light-grey: #f9f9f9;
$grey: #eeeeee;
$dark-grey: #9ea0a5;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1300px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$border-r7: 7px;
$border-r10: 10px;
